<div ng-controller="editPostController">
  post name is {{postName}}</br>
  fluff
  id is {{id}}

  <hr>
  <div class="form">
    Title: <input type="text" ng-model="editPost.title"/>
    Content: <input type="text" ng-model="editPost.content"/>
    <br>
    <br>
    Tags: <span ng-repeat="tag in tags">
      <input type="checkbox" value="tag.id" ng-click="toggleId(tag.id)">{{tag.name}}</input>
    </span>
    <br>
    <br>
    Title: {{newPost.title}}
    <br>
    Content: {{newPost.content}}
    <br>
    <br>
    <button ng-click="submitEditPost()">
      Save
    </button>

  </div>

  <hr>
</div>
