<div ng-controller="editPostController">
  post name is {{postName}}</br>

  id is {{id}}

  <div class="form">
    Title: <input type="text" ng-model="editPost.title"/>
    Content: <input type="text" ng-model="editPost.content"/>
    Tags: <span ng-repeat="tag in tags">
      <input type="checkbox" value="tag.id" ng-click="toggleId(tag.id)">{{tag.name}}</input>
    </span>
    <!-- <button ng-click="submitNewPost()"> -->

    <button ng-click="submitEditPost()"
      Create a new post
    </button>
  </div>
</div>
