<div ng-controller="postsController">
  <hr>
  <h2><a ui-sref=".new">Add a New Post</a></h2>

  <div ui-view="new"></div>
  <hr>
  <span ng-repeat="post in posts | filter:search:strict">

    <a ui-sref="show({id: post.id})">
      <h3>{{post.title}}</h3><br>
    </a>

    <!-- <button ng-click="editPost()">
      Edit post
    </button><br> -->
    <a ui-sref=".edit">EDIT</a>

    <span ng-if="post.tag_ids.length > 0" </span>
      Tags:
    </span>

    <small ng-repeat="tag_id in post.tag_ids">
      {{getTagName(tag_id)}}
    </small>
    <br>


    <span>{{post.date | date:'EEEE'}}</span><br>
    <p>{{post.content}}</p>
    <hr>

  </span>


</div>
